/*  your css code here. If applicable */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	padding: 0 1rem;
}
#box{
	background-color: #f8f8f8;
}
.book-library{
	text-align:center;
	background-color: #ffffff;
	box-shadow: 0px 0px 8px  black;
}
h1{
	text-align:center;	
	margin-bottom: 1rem;
}
.book .author{
	color: #777777;
}

.book, h1 {
	background-color: #f8f8f8;
	padding: 1rem;
}

.book:not(:last-child) {
	margin-bottom: 16px;
}
/* #image{
	text-align:center;
} */
h3,h4{
	text-align:left;
	
}
.price{
	padding:8px;
	background-color: #2ecc71;
	color:#fff;
}


